.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form input {
  border: none;
  width: 100%;
  padding: 0.5rem;
  outline: none;
}

.form button {
  background-color: #007070;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
