.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.cancel {
  background-color: #d32266;
}

.submit {
  color: #424242;
}
