.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.cancel {
  background-color: #d32266;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.submit {
  font-weight: bold;
  padding: 0.5rem;
}
